html{
    scroll-behavior: smooth;
    transition: 500ms;
}
ul.navbar-nav li a{
    direction: rtl;
    font-family: IRANSansB!important;
}
.register-form{
    text-align: center;
    color: white;
    font-family: IRANSansM;
    direction: rtl;
    margin-top: 40px;
    margin-bottom: 80px;
}
.verify{
    margin-top: 100px;
    font-family: IRANSansM;
    text-align: center;
}
.verify h1{
    font-family: IRANSansB;
}
.verify form{
    margin-top: 50px;
    margin-bottom: 100px;
}
.verify input[type=text]{
    text-align: center;
}
.flash-alert{
    text-align: right;
    direction: rtl;
    font-family: IRANSansM;
    position: absolute;
    top: 76px;
    width: 100%;
    z-index: 1;
}
.flash-alert button[type=button]{
    top: 5px;
}
.login-register-a{
    display: inline-block!important;
}
.reset-password-phone-form{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    font-family: IRANSansM;
}
#reset-password-phone{
    max-width: 180px;
    max-width: 180px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    display: inline-block!important;
}
#reset-password-phone-btn{
    display: inline-block!important;
    font-family: IRANSansB;
}
.font-iransans-b{
    font-family: IRANSansB;
}
.font-iransans-m{
    font-family: IRANSansM;
}
.font-iransans-l{
    font-family: IRANSansL;
}
.font-iransans-u{
    font-family: IRANSansU;
}
.font-iransans-w{
    font-family: IRANSansW;
}
.reset-password-confirm-code{
    text-align: center;
}
.add-new-post-href{
    transition: 0.5s;
    direction: rtl;
    font-family: IRANSansB;
    position: fixed;
    bottom: 20px;
    background: #00bcd4;
    color: white;
    padding: 2px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 2.2px;
    z-index: 1;
}
.add-new-post-href a:hover,.add-new-post-href:hover{
    transition: 0.5s;
    color: white;
    background: gray;
}
.new-blog{
    margin-top: 100px;
    margin-bottom: 250px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.new-blog h1{
    font-family: IRANSansB;
}
#blog-title,#blog-body{
    display: block;
}
.new-blog label{
    font-family: IRANSansB;
}
.new-blog input[type="text"],.new-blog textarea{
    text-align: center;
    font-family: IRANSansL;
}
.new-blog textarea{
    height: 100px;
}
.new-blog button{
    font-family: IRANSansB;
}
.dropzone{
     min-height: auto!important;
     border: none!important;
     padding: 0!important;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message *{
    transition: 1s!important;
    clear: both!important;
    font-family: IRANSansB;
    background: #00bcd4;
    color: white;
    padding: 2px!important;
    padding-right: 5px!important;
    width: 100px;
    border-radius: 4.3px;
}
.dropzone.dz-clickable:hover .dz-message:hover{
    transition: 1s;
    background: grey;
}
.dz-error-message{
    margin-top: 21px!important;
}
.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 66%;
    height: 400px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}
.single-blog{
    border: 1px solid #00bcd4;
    border-radius: 4.2px;
    padding: 10px;
}
.single-blog:after{
    display: table;
    clear: both;
}
.blog-info{
    margin-top: 35px;
    font-family: IRANSansL;
    direction: rtl;
}
.blog-title{
    font-family: IRANSansB;
    direction: rtl;
    text-align: center;
    color: #00bcd4;
    margin-top: 10px;
}
.more-blog a{
    font-family: IRANSansB;
}
@media screen and (min-width: 260px) and (max-width: 309px){
    .carousel-cell{
        height: 115px;
    }
}
@media screen and (min-width: 310px) and (max-width: 329px){
    .carousel-cell{
        height: 125px;
    }
}
@media screen and (min-width: 330px) and (max-width: 379px){
    .carousel-cell{
        height: 135px;
    }
}
@media screen and (min-width: 380px) and (max-width: 389px){
    .carousel-cell{
        height: 145px;
    }
}
@media screen and (min-width: 390px) and (max-width: 434px){
    .carousel-cell{
        height: 160px;
    }
}
@media screen and (min-width: 435px) and (max-width: 499px){
    .carousel-cell{
        height: 180px;
    }
}
@media screen and (min-width: 500px) and (max-width: 550px){
    .carousel-cell{
        height: 220px;
    }
}
@media screen and (min-width: 551px) and (max-width: 640px){
    .carousel-cell{
        height: 245px;
    }
}
@media screen and (min-width: 641px) and (max-width: 720px){
    .carousel-cell{
        height: 300px;
    }
}
@media screen and (min-width: 721px) and (max-width: 840px){
    .carousel-cell{
        height: 320px;
    }
}
@media screen and (min-width: 841px) and (max-width: 991px){
    .carousel-cell{
        height: 350px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .carousel-cell{
        height: 300px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1400px){
    .carousel-cell{
        height: 330px;
    }
}
@media screen and (max-width: 991px){
    .register-form,.login-inputs{
        z-index: 1;
    }
}
@media screen and (min-width: 992px){
    .state,.firstname,.password{
        float: right;
    }
}
